<app-navbar></app-navbar>
<!-- intro image+text -->
<div class="jumbotron col-md-12 text-center" id="top">
  <h1 class="text-black" ngsReveal><strong>JC Portfolio</strong></h1>
  <p ngsReveal>All About Jasper Chan</p>
</div>
<!-- about section -->
<div class="container-fluid mb-3" id="about">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 ngsReveal><strong>My Story</strong></h2>
      <h5 ngsReveal>I was born in Hong Kong and grew up in San Jose, spending most of my childhood tinkering with my parents' computers. After graduating from SJSU in 2015 I worked in San Francisco doing accounting for a lively social impact focused coworking space, Mission Hub. I helped Mission Hub revamp their member tracking and billing system by being a lead in the implementation of Nexudus. This large undertaking required careful project planning regarding which features to utilize, UI layout, connection testing with payment gateways and metric reporting. The excitement of being adaptive and finding solutions during the Nexudus implementation lit a passion for development and I decided to make the pivot from accounting to web developement. I have since learned Javascript & Python, utilizing the MEAN and Django frameworks to build web apps. In my spare time I enjoy biking and going to the library for coding meetups.
      </h5>
    </div>
  </div>
</div>
<div class="blackbar"></div>
<!-- experience section-->
<div class="container-fluid bg-grey col-md-12" id="experience">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h1 ngsReveal><strong>Experience</strong></h1>
      <br>
    </div>
  </div>
  <!-- row1 -->
  <div class="row" ngsReveal>
    <div class="col-md-5 col-sm-5 offset-1">
        <h5><strong>Coding Dojo</strong> - San Jose, CA</h5>
        <h5><strong>Web Developer student</strong></h5>
        <h5>Nov 2017-Jan 2018</h5>
      <ul>
        <li>Studied Javascript, Django and HTML/CSS</li>
        <li>Created webpages with Django & MEAN frameworks with SQL and MongoDB databases for Back-End</li>
        <li>Worked closely with other students for pair programming and git coordination</li>
        <li>Solved challenging daily algorithms using whiteboards in groups of 4</li>
      </ul>
    </div>
    <div class="col-md-5 col-sm-5">
        <h5><strong>Veritas Investments, Inc</strong> - San Francisco, CA</h5>
        <h5><strong>Accounts Receivable Accountant</strong></h5>
        <h5>Aug 2017-Nov 2017</h5>
      <ul>
        <li>Reviewed monthly rental collections for four portfolios of multifamily buildings</li>
        <li>Ensured timely processing of check deposits, wire transfers for over 300 tenants and utilities receivables</li>
        <li>Communicated with front of house and Regional Property Managers to resolve tenant payment issues on a daily basis</li>
      </ul>
    </div>
  </div>
  <br>
<!-- row2 -->
  <div class="row" ngsReveal>
      <div class="col-md-5 col-sm-5 offset-1">
        <h5><strong>Mission HUB LLC</strong> - San Francisco, CA</h5>
        <h5><strong>Accounts Receivable Accountant</strong></h5>
        <h5>Aug 2015 - Jan 2017</h5>
        <ul>
          <li>Spearheaded data migration and implementation of Nexudus coworking software which improved AR collections from Office Rentals, Membership Fees and Room Bookings and member billing experienceacross 4 nationwide locations with approximately 1100 members. Used adaptive problem solving skills to quickly resolve billing exceptions after system implementation.</li>
          <li>Worked closely with Managing Directors, Board of Directors on coworking system comparisons for billing functions</li>
          <li>Processed & reconciled thousands of transactions involving credit card, ACH, Paypal, Square methods using Excel, Authorize.net and OpenBravo ERP systems</li>
          <li>Corresponded with clients weekly for billing of SF, NY, DC, Berkeley for office use, events and room bookings</li>
          <li>Prepared monthly membership and collections reports for the CFO</li>
          <li>Trained & supervised 3 new employees thoroughly in software use</li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5">
        <h5><strong>Ronald T. Uchishiba, CA</strong> - San Jose, CA</h5>
        <h5><strong>Tax Assistant</strong></h5>
        <h5>Jan 2015 - Apr 2015</h5>
        <ul>
          <li>Prepared tax folders for 200+ of local residents and small businesses</li>
          <li>Utilized California gov websites for client tax lookup</li>
          <li>Managed client communication via mailing and phone calls</li>
        </ul>
      </div>
    </div>
</div>

<!-- skills section -->
  <div class="container-fluid my-3" id="skills">
    <div class="row">
      </div>
      <h1 ngsReveal><strong>Skills</strong></h1>
    <div class="row justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-5 portfolio-item" ngsReveal>
      <div class="card h-100">
        <div class="card-header">
          <i class="fa fa-code"></i> Languages
        </div>
        <div class="card-body">
          <ul class="card-text">
            <li>Javascript</li>
            <li>Python</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-5 portfolio-item" ngsReveal>
      <div class="card h-100">
        <div class="card-header">
            <i class="fa fa-desktop"></i> Front End
        </div>
        <div class="card-body">
          <ul class="card-text">
            <li>Django</li>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>socket.io</li>
            <li>Flask</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-5 portfolio-item" ngsReveal>
      <div class="card h-100">
        <div class="card-header">
            <i class="fa fa-database"></i> Back End
        </div>
        <div class="card-body">
          <ul class="card-text">
            <li>Node.js</li>
            <li>Express</li>
            <li>NPM</li>
            <li>MongoDB</li>
            <li>MySQL</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-5 portfolio-item" ngsReveal>
      <div class="card h-100">
          <div class="card-header">
            <i class="fa fa-sitemap"></i> Misc
          </div>
        <div class="card-body">
          <ul class="card-text">
            <li>AWS</li>
            <li>Restful API</li>
            <li>JSON</li>
            <li>Microsoft Excel</li>
          </ul>
        </div>
        </div>
      </div>
  </div>
</div>

<div class="fistpunch"></div>

<!-- portfolio section -->
  <div class="container-fluid my-3 text-center bg-grey" id="projects">
    <h1 ngsReveal><strong>Projects</strong></h1>
    <div class="row mt-3 text-center">

        <div class="col-sm-4" ngsReveal>
            <div class="thumbnail">
              <img src="/assets/images/carnaval.jpg" alt="San Francisco">
            </div>
            <p class="p1">
              <strong>SF Carnaval</strong> |
              <i class="far fa-sun"></i>
              <a href="https://carnaval-draft.netlify.com">Visit</a>
            </p>
            <p class="p2"><span style="color: red">IN PROGRESS.</span> An event webapp that utilizes Angular and Mapbox map functionality. Built for the non-profit Carnaval SF for their May 26th-27th 2018 Street Festival.</p>
          </div>

      <div class="col-sm-4" ngsReveal>
        <div class="thumbnail">
          <img src="/assets/images/musicTrivia.jpg" alt="Music Trivia Thumbnail">
        </div>
        <p class="p1">
          <strong>Music Trivia</strong> |
          <i class="fa fa-headphones"></i>
          <a href="http://18.144.29.139/">Visit</a>
        </p>
        <p class="p2">A trivia app that uses Discogs.com API to randomly generate quizzes. Utilizes MongoDB, Angular, Express and Node.js</p>
      </div>

      <div class="col-sm-4" ngsReveal>
        <div class="thumbnail">
          <img src="/assets/images/travelBuddy.jpg" alt="Travel Buddy Thumbnail">
        </div>
        <p class="p1">
          <strong>Travel Planner</strong> |
          <i class="fa fa-plane"></i>
          <a href="https://github.com/jchancoding/travelPlanner">Visit</a>
        </p>
        <p class="p2">A Django application which allows users to plan trips on a calendar and join trips with other users. Features regex
          validation for dates and CRUD functionality.</p>
      </div>

  </div>
</div>

<div class="sunset"></div>

  <!-- social media section -->
<div class="container-fluid mt-3 blackbox" id="contact">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 ngsReveal>
        <strong>Let's connect</strong>
      </h2>
    </div>
  </div>


  <div class="row" id="connect" ngsReveal>
    <div class="col-sm-4">
      <a href="https://github.com/jchancoding">
        <i class="fab fa-github fa-3x"></i>
      </a>
      <h5>GIT</h5>
    </div>
    <div class="col-sm-4">
      <a href="https://www.linkedin.com/in/jchancoding/">
        <i class="fab fa-linkedin-in fa-3x"></i>
      </a>
      <h5>Linkedin</h5>
    </div>
    <div class="col-sm-4">
      <a href="https://www.meetup.com/members/199610176/">
        <i class="fab fa-meetup fa-3x"></i>
      </a>
      <h5>Meetup</h5>
    </div>
  </div>
  <!-- contact row -->
  <div class="row mt-1 justify-content-center" id="info" ngsReveal>
    <div class="col-lg-5 col-md-5 col-sm-5 text-center">
      <img src="/assets/images/portrait.jpg" alt="JC Portrait image">
    </div>
    <div class="col-sm-5">
      <h3>Contact Me</h3>
      <p>
        <i class="fa fa-at"></i> E:
        <a href="mailto:jchancoding@gmail.com">jchancoding@gmail.com</a>
      </p>
      <p>
        <i class="fa fa-mobile"></i> P: (408)-646-6933</p>
      <p>
        <i class="fa fa-map-marker-alt"></i> San Jose, CA</p>
    </div>
  </div>
</div>



