h1 {
    color: white;
}
.jumbotron {
    position: relative;
    background-image: linear-gradient(to bottom, black 0%, transparent 25%, transparent 75%, black 100%), url("/assets/images/macMap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 45px;
    margin-bottom: -5px;
    padding-top: 20%;
    padding-bottom: 20%;
}
.text-black {
    color: black;
    text-shadow: 4px 4px white;
}
i {
    color: black
}
.jumbotron h1{
    font-size: 70px;
}
.bg-grey {
    background-color: #f6f6f6;
}
#contact i {
    border-radius: 4px;
    border: 5px solid white;
    background-color: white;
    padding: 5px;
}
.thumbnail{
    background-color: gainsboro;
    padding: 0px;
    border-radius: 5px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blackbox {
    background-color: black;
    color: white;
}
.col-sm-4 h5 {
    margin-top: 10px;
}
.blackbar {
    /* The image used */
    background-image: url("/assets/images/bikers.jpg");
    /* Set a specific height */
    height: 200px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fistpunch {
    /* The image used */
    background-image: url("/assets/images/teamwork.jpg");
    /* Set a specific height */
    height: 200px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sunset {
    /* The image used */
    background-image: url("/assets/images/sunset.jpg");
    /* Set a specific height */
    height: 200px; 
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about {
    position: relative;
    background: black;
    background-size: cover;
    background-position: center center;
    padding-top: 25px;
    color: white;
}
#about h2 { 
    border-bottom: 3px solid black;
}
@media screen and (max-width: 500px){
    .blackbar {
        background-size: 900px auto;
        background-attachment: scroll;
    }
    .fistpunch {
        background-size: 900px auto;
        background-attachment: scroll;
    }
}
#experience {
    background: black;
    color: white;
    padding-top: 30px;
}
#experience h2 { 
    border-bottom: 3px solid black;
}
#contact h2 { 
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}
#contact h4 { 
    border-bottom: 3px solid white;
    margin-bottom: 15px;
}
#connect .col-sm-4 {
    text-align: center;
}
#connect i {
    height: 68px;
    width: 68px;
    text-align: center;
}
#info i {
    height: 36px;
    width: 36px;
    text-align: center;
}
#info img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#info li {
    margin-top: 5px;
}
#info {
    margin: 0px;
}
#skills { 
    background: black;
    text-align: center;
}
#skills h2 { 
    color: white;
}
#skills .card {
    border: 4px solid white;
    border-radius: 5px;
}
#skills .card-header{
    background: black;
    color: white;
    border-bottom: 4px solid white;
}
#skills .card-body {
    background: black;
    color: white;
}
#skills i {
    color: white;
}
#projects {
    background: black;
    color: white;
}
#projects i {
    color: white;
}
#projects h2 {
    border-bottom: 3px solid black;
}
#projects .p1 {
    padding-top: 15px;
    margin-bottom: 0px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}
#projects img {
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#projects .p2 {
    padding: 10px 10px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
    height: 200px;
    object-fit: cover;
}
.portfolio-item {
    margin-top: 15px;
}
.card-header {
    font-size: 20px;
    color: black;
}
.card {
    border: 1px solid black;
}
.card-text {
    text-align: left;
}
.thumbnail {
    height: 240px;
}
.thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}